<!DOCTYPE html>
<html lang="en">


<body>
    <!--This section allows users to submit a file.-->
    <form method="post" enctype="multipart/form-data" action="file_handler.py">
        <label>
            Submit a .csv file with the information.
        </label>
        <input type="file" id="file_input" name="file_input" accept=".csv">
        <button>Next</button>
    </form>

    <!--Users can download the template .csv from here.-->
    <div>
        <a href="/Static/Template.csv" download>
            <button>Download Template</button>
        </a>
    </div>
</body>